<header class="mb-15" th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div>
        <nav class="nav nav-masthead justify-content-left float-md-end">
            <a class="nav-link active" aria-current="page" href="/category">Категорії</a>
            <a class="nav-link" href="/item">Товари</a>
            <a class="nav-link" href="/brand">Бренди</a>
            <a class="nav-link" href="/seller">Продавці</a>
            <a class="nav-link" href="/about">Про нас</a>
            <a class="nav-link" href="/cart">Корзина</a>
            <a class="nav-link" href="/login">Авторизація</a>
            <a class="nav-link" href="/registration">Реєстрація</a>
            <a class="nav-link" href="/logout">Вийти</a>
        </nav>
    </div>
</header>